body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-exam
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form, .dropdown-item
{
    font-family: Raleway, sans-serif;
}


.login-form
{
    padding-top: 1.5rem;
   
    
}